<div fxLayout="row" class="container">
  <div fxFlex="5"></div>

  <div fxLayout="column" fxFlex="40" fxLayoutAlign="center start">
    <mat-form-field class="inputAddress">
      <input matInput ngx-google-places-autocomplete
      options="{types: ['address', 'geocode', '(regions)']}"
      (onAddressChange)="processSearch($event)"
      type="text" placeholder="Enter an address..."
      [(ngModel)]="addressInput"
      #addressInputID>
      <button mat-button matSuffix mat-icon-button aria-label="X" (click)="searchWeather()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
    <span *ngIf="errorComponent.show" class="errorMsg"> {{errorComponent.msg}}</span>
    <button mat-raised-button color="primary" (click)="addressInputID.focus(); searchWeather()" class="showButton" >Search for the current temperature</button>
  </div>

  <div fxFlex="40" fxFlexOffset="10" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70" class="weatherCard mat-elevation-z8">
      <span class="cityText" > {{infoCard.address.city}}, {{infoCard.address.state}}</span>
      <span class="temperatureText"> {{infoCard.temp}} ° F</span>
    </div>
  </div>

  <div fxFlex="5"></div>
</div>

<mat-toolbar fxLayout="row" >
  <div fxFlex="5"></div>
  <mat-toolbar-row class="header-toolbar">
    <span>Previous weather checks</span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" class="container">
    <div fxFlex="5"></div>

  <table mat-table [dataSource]="weatherSearches" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} - {{element.date | date: 'HH:MM'}} </td>
      </ng-container>
    
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
    
      <!-- Weather Column -->
      <ng-container matColumnDef="weather">
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let element"> {{element.weather}} ° F</td>
      </ng-container>
    
      <!-- Icon Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> <img src={{element.icon}} alt="Smiley face" > </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <div fxFlex="5"></div>
</div>